/* importing web fonts */

body {
  color: 121212;
}

/* Top bar  */

#top-bar {
  border-bottom: 1px solid #e2e2e2;
}

#top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0px;
  max-width: 1605px;
  margin: 0 auto;
  padding: 4px 15px 2px;
  height: 36px;
}

#top-section a {
  font-size: 14.25px;
  text-decoration: none;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

.side {
  display: flex;
  justify-content: space-between;
}

.side img {
  padding: 8px 9px 9px;
  margin-right: 9px;
}

.side a {
  margin-left: 15px;
  align-self: center;
}

#top-section a:hover {
  text-decoration: underline;
}

#header-logo {
  align-self: flex-end;
}

#button-div {
  align-self: flex-start;
}

#subscribe {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  border-radius: 3px;
}

#login {
  border: 1px solid rgb(50, 104, 145);
  background-color: rgb(86, 123, 149);
  padding: 11px 12px 8px;
  border-radius: 3px;
  line-height: 11px;
  text-transform: uppercase;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 11px;
}

/* Title Container */

#title-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-container figure {
  max-width: 1200px;
}

#main-title {
  font-size: 40px;
  width: 70%;
}

#title-img {
  max-width: 100%;
  justify-content: center;
  object-fit: contain;
  align-items: center;
}
